{
  "singleQuote": false,
  "trailingComma": "all",
  "endOfLine": "lf",
  "arrowParens": "avoid",
  "bracketSpacing": true,
  "tsxBracketSameLine": false,
  "no-duplicate-variable": [true, "check-parameters"],
  "no-var-keyword": true,
  "printWidth": 80,
  "quoteProps" : "as-needed",
  "tabWidth": 2
}
